body{margin: 0;}

header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero1, footer{background-color: #1f2937;color: white;}
  

#logo{
    width: 100px;
    height: 80px;
    margin-left: 10px;
    margin-top: 10px;
    
}

h1{display: flex;
    align-items: center;
    text-indent: -16.5em;
    padding-top: 26px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #8bb0eb;
    
        
}

.pics{display: flex;
    justify-content: center;
    gap:50px;
    margin-bottom: 10px;
  
  }

  .info{max-width: 200px;}

  .info>img{
    width: 200px;
    height: 180px;}

  nav{
    width:50%;
    height:50px;
    max-width: 300px;
  }

  nav > ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-inline-start: 0;
    align-items: center;
    margin-block: 0;
    height: 100%;
  }

  li{list-style:none;}

  .hero{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: left;
     
  }

  #veg{
    width: 385px;
    height:200px;
margin-bottom: 20px;}

  section{
    display: block;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
    
  }

  h2,p{font-family: arial;}

  h2{font-size: 50px;margin-bottom: 0;}

  .title {
    font-size: 36px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding-bottom: 32px;
    margin-top: 20px;
  }
  
  .quote-wrapper {
    display: flex;
    padding: 20px 20px;
    background-color: antiquewhite;
 }

 .container{
    background-color:#3882f6;
    width:85%;
    height:75%;
    
    
    
 }

 .sign_up{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(204, 197, 197);
    height: 200px;
    margin-bottom:0;
    padding-bottom: 0;
 }

 .container>p,button{
    display: inline;
    margin-bottom:10px;
    margin-left: 15px;
    font-size: 20px;
    margin-top:0;
    color: white;
    
 }

 .container>h3{
    margin-left: 15px;
    font-size: 28px;
    margin-bottom: 0;
    color: white;
 }

 footer{
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .who_we_are{
    background-color:rgb(204, 197, 197);
    
 }

 .title{
    margin-top: 0;
    
 }

 button{
    border-radius: 4px;
    background-color:#3882f6;
    color: white;
    border: none;
    text-align: center;
    padding: 6px 30px;
}

.container>button{
    border:1px solid white;
}

li>a{
    color: inherit;
text-decoration: none;  
}